@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductVM
@{
    ViewData["Title"] = $"{(Model.Product.Id != 0 ? "Update" : "Create")} Product";
}
<form asp-controller="Product" asp-action="Upsert" method="post" enctype="multipart/form-data">
    <input asp-for="@Model.Product.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            <hr />
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.Author" class="p-0"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.Description" class="p-0"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.ISBN" class="p-0"></label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.ListedPrice" class="p-0"></label>
            <input asp-for="Product.ListedPrice" class="form-control" />
            <span asp-validation-for="Product.ListedPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.Price50" class="p-0"></label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>

        <div class="mb-3 ps-3 row">
            <label asp-for="Product.Price100" class="p-0"></label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Product.CategoryId" class="p-0"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control form-select">
                <option disabled> Select Category</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3 ps-3 row">
            <label asp-for="Product.ImageUrl" class="p-0"></label>
            <input type="file" class="form-control" name="imageFile" />
        </div>
        @* <div asp-validation-summary="All" class="text-danger-emphasis"></div> *@
        <div class="row ps-3">
            <div class="col-6 text-center">
                <button type="submit" class="btn btn-secondary">@(Model.Product.Id != 0 ? "Update" : "Create")</button>
            </div>
            <div class="col-6 text-center">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*  @{
        <partial name="_ValidationScriptsPartial" />
    } *@
}