@model Product
@{
    ViewData["Title"] = "Delete Product";
}
<form asp-controller="Product" asp-action="Delete" method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Title" class="p-0"></label>
            <input disabled asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Author" class="p-0"></label>
            <input disabled asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Description" class="p-0"></label>
            <input disabled asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="ISBN" class="p-0"></label>
            <input disabled asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="ListedPrice" class="p-0"></label>
            <input disabled asp-for="ListedPrice" class="form-control" />
            <span asp-validation-for="ListedPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Price" class="p-0"></label>
            <input disabled asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 ps-3 row">
            <label asp-for="Price50" class="p-0"></label>
            <input disabled asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>

        <div class="mb-3 ps-3 row">
            <label asp-for="Price100" class="p-0"></label>
            <input disabled asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        @* <div asp-validation-summary="All" class="text-danger-emphasis"></div> *@
        <div class="row ps-3">
            <div class="col-6 text-center">
                <button type="submit" class="btn btn-danger btn-secondary">Confirm Delete</button>
            </div>
            <div class="col-6 text-center">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>
